<table class="table">
    <thead>
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th></th>
        </tr>
    </thead>
    {% if courses.count > 0 %}
    <tbody>
        {% for course in courses %}
        	<tr>
                <td>{{ course.code }}</td>
                <td>{{ course.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'dashboard_courses_detail' pk=course.id %}">Detail</a>
                    <a class="btn btn-danger" href="{% url 'dashboard_courses_delete' pk=course.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tfoot>
        <tr>
            <td colspan="3">
                There is no course.
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>