{% extends 'dashboard_frame.html' %}

{% block title %}
    {{ course.name }} detail | Attendance
{% endblock %}

{% block content %}
    <div class="bg-dark-subtle p-3">
        <h3 class="pb-3">{{ course.code }} {{ course.name }}</h3>
        
        <h6>Associated class list</h6>
        {% include 'class/class_list_display_segment.html' with classes=classes %}
        
        <div class="pb-3">
            <a class="btn btn-secondary" href="{% url 'dashboard_courses' %}">Back Course List</a>
        </div>
    </div>
{% endblock %}