{% extends 'dashboard_frame.html' %}

{% block title %}
    {{ student.user.first_name }} detail | Attendance
{% endblock %}

{% block content %}
    <div class="bg-dark-subtle p-3">
        <h3 class="pb-3">Student ID: {{ student.student_id }}</h3>
        
        <h6>Personal Information</h6>
        <ul class="list-group pb-3">
            <li class="list-group-item">
                User Name: {{ student.user.username }}
            </li>
            <li class="list-group-item">
                Full Name: {{ student.user.first_name }} {{ student.user.last_name }}
            </li>
            <li class="list-group-item">
                Date of Birth: {{ student.date_of_birth|date:'Y-m-d' }}
            </li>
            <li class="list-group-item">
                Email: <a href="mailto:{{ student.user.email }}">{{ student.user.email }}</a>
            </li>
            <li class="list-group-item">
                Present: {{ student.present_count }}
            </li>
            <li class="list-group-item">
                Absent: {{ student.absent_count }}
            </li>
        </ul>
    
        <h6>Enrolled Classes</h6>
        {% include 'class/class_list_display_segment.html' with classes=student.classes.all %}
    
        <div class="pb-3">
            <a class="btn btn-secondary" href="{% url 'dashboard_students' %}">Back Student List</a>
        </div>
    </div>
{% endblock %}