{% extends 'dashboard_frame.html' %}

{% block title %}
    Update Semester | Attendance
{% endblock %}

{% block content %}
    <div class="bg-dark-subtle p-3">
        <h5 class="pb-3">Create new semester</h5>
        <form method="post" action="{% url 'dashboard_semesters_update' pk=semester.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="year" class="form-label">Year</label>
                <input type="text" class="form-control" name="year" id="year" 
                       value="{{ semester.year }}">
            </div>
            
            <div class="mb-3">
                <label for="semester" class="form-label">Semester</label>
                <input type="text" class="form-control" name="semester" id="semester" 
                       value="{{ semester.semester }}">
            </div>
        
            <div class="mb-3">
                <label for="start_date" class="form-label">Start Date</label>
                <input type="date" class="form-control" name="start_date" id="start_date" 
                       value="{{ semester.start_date|date:'Y-m-d' }}">
            </div>
        
            <div class="mb-3">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" class="form-control" name="end_date" id="end_date" 
                       value="{{ semester.end_date|date:'Y-m-d' }}">
            </div>
        
            <ul class="mb-3 text-danger">
            {% for error in errors %}
            	<li>{{ error }}</li>
            {% endfor %}
            </ul>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="{% url 'dashboard_semesters' %}">Cancel</a>
        </form>
    </div>
{% endblock %}