{% extends 'dashboard_frame.html' %}

{% block title %}
    {{ semester.year }} {{ semester.semester }} detail | Attendance
{% endblock %}

{% block content %}
    <div class="bg-dark-subtle p-3">
        <h1>{{ semester.year }} {{ semester.semester }}</h1>
    
        <ul class="list-group pb-3">
            <li class="list-group-item">
                Start date: {{ semester.start_date }}
            </li>
            <li class="list-group-item">
                End date: {{ semester.end_date }}
            </li>
        </ul>
    
        <h2>Classes included</h2>
        {% include 'class/class_list_display_segment.html' with class=semester.class %}
        <div class="pb-3">
            <a class="btn btn-secondary" href="{% url 'dashboard_semesters' %}">Back Semesters List</a>
        </div> 
    </div>
{% endblock %}