<table class="table table-striped">
    <thead>
        <tr>
            <th>Number</th>
            <th>Course</th>
            <th>Semester</th>
            <th>Lecture</th>
            <th>Students' count</th>
        </tr>
    </thead>
    <tbody>
        {% for cls in classes %}
            <tr>
                <td>{{ cls.number }}</td>
                <td>{{ cls.course }}</td>
                <td>{{ cls.semester }}</td>
                <td>{{ cls.lecture }}</td>
                <td>{{ cls.students.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
    {% if classes.count == 0 %}
    <tfoot>
        <tr>
            <td colspan="5">
            	There is no class.
            </td>
        </tr>
    </tfoot>
    {% endif %} 
</table>