{% extends 'dashboard_frame.html' %}

{% block title %}
    {{ class.number }} detail | Attendance
{% endblock %}

{% block content %}
    <div class="bg-dark-subtle p-3">
        <h3 class="pb-3">Class Number: {{ class.number }}</h3>
        <ul class="list-group pb-3">
            <li class="list-group-item">
                Semester: {{ class.semester.year }} {{ class.semester.semester }}
            </li>
            <li class="list-group-item">
                Course: {{ class.course.code }} {{ class.course.name }}
            </li>
            <li class="list-group-item">
                Lecture: {{ class.lecture.user.first_name }} {{ class.lecture.user.last_name }}
            </li>
        </ul>
    
        <div class="pb-3 pt-3">
            <h6>Enrolled Students</h6>
            {% include 'student/student_list_display_segment.html' with students=class.students %}
        </div>
    
        <div class="pb-3">
            <a class="btn btn-secondary" href="{% url 'dashboard_classes' %}">Back Class List</a>
        </div>
    </div>
{% endblock %}