{% extends 'dashboard_frame.html' %}

{% block title %}
    {{ lecture.user.first_name }} {{ lecture.user.last_name }} delete | Attendance
{% endblock %}

{% block content %}
    <div class="bg-dark-subtle p-3">
        <h3 class="pb-3">Lecture: {{ lecture.staff_id }}, {{ lecture.user.first_name }} {{ lecture.user.last_name }}</h3>
        
        <h6 class="pb-3">Do you confirm to delete this lecture?</h6>
        
        <div class="pb-3">
            <form method="post" action="{% url 'dashboard_lectures_delete' pk=lecture.id %}">
                {% csrf_token %}
                <button class="btn btn-danger">Confirm</button>
                <a class="btn btn-secondary" href="{% url 'dashboard_lectures' %}">Cancel</a>
            </form>
        </div>
        
    </div>
{% endblock %}