{% extends 'dashboard_frame.html' %}

{% block title %}
    {{ lecture.user.first_name }} detail | Attendance
{% endblock %}

{% block content %}
    <div class="bg-dark-subtle p-3">
        <h3 class="pb-3">Staff ID: {{ lecture.staff_id }}</h3>
        
        <h6>Personal Information</h6>
        <ul class="list-group pb-3">
            <li class="list-group-item">
                User Name: {{ lecture.user.username }}
            </li>
            <li class="list-group-item">
                Full Name: {{ lecture.user.first_name }} {{ lecture.user.last_name }}
            </li>
            <li class="list-group-item">
                Email: {{ lecture.user.email }}
            </li>
        </ul>
    
        <div class="pb-3">
            <a class="btn btn-secondary" href="{% url 'dashboard_lectures' %}">Back Lecture List</a>
        </div>
    
    </div>
{% endblock %}