{% extends 'dashboard_frame.html' %}

{% block title %}
    Dashboard | Attendance
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        {% include 'dashboard/admin_fragment.html' %}
    {% endif %}

    {% if user.groups.all.0.name == "student" %}
        {% include 'dashboard/student_fragment.html' %}
    {% endif %}
    
    {% if user.groups.all.0.name == "lecture" %}
        {% include 'dashboard/lecture_fragment.html' with classes=classes %}
    {% endif %}
{% endblock %}