<table class="table">
    <thead>
        <tr>
            <th scope="col">Staff ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th></th>
        </tr>
    </thead>
    {% if lectures.count > 0 %}
    <tbody>
        {% for lecture in lectures %}
        	<tr>
                <td>{{ lecture.staff_id }}</td>
                <td>{{ lecture.user.first_name }} {{ lecture.user.last_name }}</td>
                <td>{{ lecture.user.email }}</td>
                <td>
                    <a href="{% url 'dashboard_lectures_detail' pk=lecture.staff_id%}">View Detail</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tfoot>
        <tr>
            <td colspan="4">
                There is no lecture.
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>