<div class="bg-dark-subtle p-3">
    <h5 class="pb-3">Welcome: {{ user }} (Admin)</h5>
    <p>Click sidebar items for management</p>
    <ol class="list-group list-group-flush list-group-numbered">
        <li class="list-group-item d-flex gap-1">
            <div>
                <div>Create students</div>
                <div>If to upload students, pls use the template at the root of this project</div>
            </div>
        </li>
        <li class="list-group-item">Create lectures</li>
        <li class="list-group-item">Create courses</li>
        <li class="list-group-item">Create semesters</li>
        <li class="list-group-item">Create classes</li>
        <li class="list-group-item">Assign lecture and students for classes</li>
    </ol>
</div>