<div class="bg-dark-subtle p-3">
    <h5 class="pb-3">Welcome: {{ user }} (Admin)</h5>
    <p>Click sidebar items for management</p>
    <ol class="list-group list-group-flush">
        <li class="list-group-item">1. Create students and lectures</li>
        <li class="list-group-item">2. Create courses</li>
        <li class="list-group-item">3. Create semesters</li>
        <li class="list-group-item">4. Create classes</li>
        <li class="list-group-item">5. Assign lecture and students for classes</li>
    </ol>
</div>